name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # Trigger the workflow when changes are pushed to the `main` branch
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      # Step 1: Checkout the code
      - name: Checkout code
        uses: actions/checkout@v2

      # Step 2: Set up AWS CLI
      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}


      # Debug Step: Check AWS Region and Account ID
      - name: Debug AWS Region and Account ID
        run: |
          echo "AWS_REGION=${{ secrets.AWS_REGION }}"
          echo "AWS_ACCOUNT_ID=${{ secrets.AWS_ACCOUNT_ID }}"

      # Step 3: Log in to Public Amazon ECR
      - name: Log in to Amazon ECR (public)
        run: |
          aws ecr-public get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin public.ecr.aws/a9t8d2b2/compedia

      # Step 4: Build the Docker image
      - name: Build Docker image
        run: |
          docker build -t companyhubservice .
          docker tag companyhubservice:latest public.ecr.aws/a9t8d2b2/compedia:latest

      # Step 5: Push the Docker image to ECR
      - name: Push Docker image to ECR
        run: |
          docker push public.ecr.aws/a9t8d2b2/compedia:latest
